body{
    background-color: aqua;
}
button{
    background-color: bisque;
    border-radius: 20px;
    height: 30px;
    margin-left: 320px;
}
a{
    color: black;
    text-decoration: none;
}
h1{
    display: flex;
    justify-content: center;
}